* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10px;
    background-color: #9fb9df;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10px;
}

.recipe img {
    width: 100px;
}

h3 {
    margin: 15px 0;
}